# Global configs ------------------------------------------------------------

# Database
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Eureka 
eureka.client.service-url.defaultZone=http://localhost:4015/eureka/
eureka.client.register-with-eureka=true
eureka.client.fetch-registry=true
eureka.client.log-delta-diff=false
logging.level.com.netflix.discovery=WARN
logging.level.com.netflix.eureka=WARN
logging.level.com.netflix.discovery.shared.resolver.aws=WARN

# Logging
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=DEBUG

# Security
security.jwt.publicKey=MIIBI...