server.port=4001

spring.dataSource.url=jdbc:mysql://100.64.0.1:3302/ParkingLotService?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=