server.port=4002

# Database
spring.dataSource.url=jdbc:mysql://100.64.0.1:3303/ReservationService?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=